@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&family=Sriracha&display=swap');

:root {
    --color0: #000000;
    --color1: #FFFFFF;

    --fuente-predeterminada: 'Sriracha', Arial, Verdana, Helvetica, Sans-serif;
    --fuente-destacada: 'Passion One', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

/* NOTA 1: 
AQUI ESTAMOS ANADIENDO: 
1. LA ETIQUETA html
2. PROPIEDAD min-height: 100vh DE ESTA FORMA LE ESTAMOS ORDENANDO QUE EL TAMANO MINIMO DE NUESTRA PANALLA SERA SIEMPRE EL 100 % DE VIEWPORT */

html body {
    min-height: 100vh;
    background-color: var(--color1);
    font-family: var(--fuente-predeterminada);
}

/*---------FIN NOTA 1 --------------  */

header {
    background-color: var(--color0);
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

header h1 {
    font-family: var(--fuente-destacada);
    font-size: 10vw;
    font-variant: small-caps;
}

header p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* NOTA:
    1.  NO ERA NECESARIO HACER ESTO, ES DECIR, GENERE EL MISMO EFECTO VISUAL, PERO NO ES LA FORMA CORRECTA:
        main {
        padding-top: 70px;
        padding-bottom: 70px;
    } 

    2. SE LE ANADIO UN PADDING TOP Y BOTTOM DE 10VH ES DECIR, 10% DE LA ALTURA DEL VIEWPORT A CADA SECTION. (TAL COMO SE APRECIA ABAJO)

    NOTA: AL TRABAJAR CON VH COMO UNIDAD, ESTA SE ADAPTA AL TAMANO DE LA PANTALLA

    3. EN ESA MISMA ETIQUETA SECTION PODEMOS MODIFICAR COMO SE MUESTRA EL CONTENIDO DE TEXTO DENTRO DE ELLA, ES POR ELLO QUE ANADIMOS TAMBIEN EN ESTE MISMO BLOQUE DE CODIGO CSS LAS PROPIEDAS line-height Y padding-left 

    4. PUNTO IMPORTANTE. AL USAR EL PAGGING SUPERIOR E INFERIOR ACA EN SECTION, ESTAMOS CENTRANDO VERTICALMENTE EL PARRAFO  (LO HICE SIN DARME CUENTA) RAZON POR LA CUAL NO ES NECESARIO MAS ABAJO USAR POSITION RELATIVE NI ABSOLUTE.

    */

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3vw;
}

/* ESTO ES LO QUE YO HABIA HECHO ANTES: 
    section p {
        max-width: 60%;
        margin: 0 0 80px 30px;
        font-size: 2em;
        padding: 0 0 10px 5px;
    }
*/

/* ---------- FIN DE LA NOTA ------------- */


/* NOTA: LA DIFERENCIA CON EL VIDEO FUE:

    1. Agregar una propiedad background-position: right center; para dirigir el punto de enfoque de la imagen justo donde la queremos.

    2. Si nos damos cuenta aca podemos hacer un selector generico para los contenedores de imagen de fondo, ya que hay propiedades que son redundantes es decir se repiten para ambos, lo cual hace mas largo el codigo.

    Solo creariamos dos selectores diferentes para la propiedad background-image, ya que tienen URL diferentes. 

    Esto no lo hice, con el objeto de ver mi codigo y apreciar claramente que estoy redundando.

*/

section.con_fondo-uno {
    /* position: relative;
    padding-top: 30vh;
    padding-bottom: 30vh;
    height: 50vh; */
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.701);
}

section.con_fondo-dos {
    /* position: relative;
    padding-top: 30vh;
    padding-bottom: 30vh;
    height: 100px; */
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.82);
}


section p.fondo_negro_difuminado {
    /* position: absolute; */
    background-color: rgba(0, 0, 0, 0.452);
    color: var(--color1);
    padding: 10px 10px 10px 3px;
    /* top: 50%;
    transform: translateY(-50%); */
    text-shadow: 1px 1px 0px black;
    display: inline-block;
}

section p.parrafo_normal {
    margin-bottom: 10vh;
}

footer {
    background-color: var(--color0);
    color: white;
    padding: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}





